{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo_pagina %}{% endblock titulo_pagina %}</title>
    <link rel="stylesheet" href="{% static 'css/variables.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1.0">
</head>
<body>
    <header>
        {% block paginas_viajaveis %}Sem links disponíveis{% endblock paginas_viajaveis %}
    </header>
    <main>
        {% block titulo %}Essa não é uma página{% endblock titulo %}
        {% block conteudo %}
        <h1>Ops! Não conseguimos relacionar o conteúdo da página...</h1>
        {% endblock conteudo %}
    </main>
    <footer>
        <h1>Todos os direitos reservados</h1>
    </footer>
</body>
</html>

<!-- Luiz Enrique -->