{% extends "medico/base.html" %}
{% load static %}

{% block titulo_pagina %}Cadastro de Médicos{% endblock titulo_pagina %}

{% block paginas_viajaveis %}
<a href="../cadastroE/">Cadastro de especialidades</a>
<a href="../listaE/">Lista de especialidades</a>
<a href="../listaM/">Lista de médicos</a>
{% endblock paginas_viajaveis %}

{% block titulo %}<h1>Cadastro de médicos</h1>{% endblock titulo %}

{% block conteudo %}
<div class="form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Salvar</button>
    </form>
</div>
{% endblock conteudo %}

<!-- Luiz Enrique -->