{% extends "medico/base.html" %}

{% block titulo %}<h1>Deletar Especialidade</h1>{% endblock titulo %}

{% block conteudo %}
    <div class="container mt-4">
        <h2>Confirmar Exclusão</h2>
        <p>Tem certeza que deseja excluir a especialidade: <strong>{{ object.nome_especialidade }}</strong>?</p>

        <form method="post">
        {% csrf_token %}
        <a href="{% url 'lista_esp' %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
    </div>
{% endblock conteudo %}