{% extends "medico/base.html" %}

{% block titulo %}<h1>Deletar Médico</h1>{% endblock titulo %}

{% block conteudo %}
    <div class="container mt-4">
        <h2>Confirmar Exclusão</h2>
        <p>Tem certeza que deseja excluir o médico: <strong>{{ object.nome_medico }}</strong>?</p>

        <form method="post">
        {% csrf_token %}
        <a href="{% url 'lista_med' %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
    </div>
{% endblock conteudo %}